#ignore .pyc files python compiled

*.pyc

#ignore swap files from vim
*.swp



#ignore the temp save folder
/data/temp_save_game/


#ignore the save game folder
/data/save_game/


#ignore pyc files in game_engine
